{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Health Check plugin for Craft CMS
 *
 * HealthCheckWidget Widget Body
 *
 * @author    Jason McCallister
 * @copyright Copyright (c) 2019 Jason McCallister
 * @link      https://mccallister.io
 * @package   HealthCheck
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@jasonmccallister/healthcheck/assetbundles/healthcheckwidgetwidget/dist', true) ~ '/img/HealthCheckWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
